.stone {
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
  z-index: 3;
}

.stoneShallow {
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.25);

    // z-index: 4;
}

.black {
  background: linear-gradient(145deg, #f6cfa6, #000000);
}
.white {
  background: linear-gradient(145deg, #f6cfa6, #ffffff);
}

%baseStoneHover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  z-index: 2;
  cursor: pointer;
}

%stoneHovered {
  cursor: pointer;
  border-radius: 50%;
  // box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
  //   -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
  z-index: 2;
}

%highlightStoneBase {
  font-size: 12px;
  text-align: center;
  padding-top: 1em;
  color: gray;
}

.blackStone {
  background: linear-gradient(145deg, #f6cfa6, #000000);
}

.whiteStone {
  background: linear-gradient(145deg, #f6cfa6, #ffffff);
}

.blueStone {
  background: linear-gradient(145deg, #f6cfa6, #0066FF);
}

.redStone {
  background: linear-gradient(145deg, #f6cfa6, #FF006F);
}

.highlightAdjacentStone {
  @extend %highlightStoneBase;
  background: linear-gradient(145deg, #f6cfa6, #F476C0);
}

.higlightHumanBestMove {
  @extend %highlightStoneBase;
  background: linear-gradient(145deg, #f6cfa6, #63D19D);
  z-index: 1;
  color: #fff;
}

.captureCellHighlight {
  @extend %highlightStoneBase;
  background: linear-gradient(145deg, #f6cfa6, #008000);
  z-index: 1;
  color: #fff;
}

.blackStoneHover {
  @extend %baseStoneHover;
  &:hover {
    background: linear-gradient(145deg, #f6cfa6, #000000);
  }
}

.whiteStoneHover {
  @extend %baseStoneHover;
  &:hover {
    background: linear-gradient(145deg, #f6cfa6, #ffffff);
  }
}

.blueStoneHover {
  @extend %baseStoneHover;
  &:hover {
    background: linear-gradient(145deg, #f6cfa6, #0066FF);
  }
}

.redStoneHover {
  @extend %baseStoneHover;
  &:hover {
    background: linear-gradient(145deg, #f6cfa6, #FF006F);
  }
}
